{% form_theme form 'bootstrap_4_layout.html.twig' %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
    </head>
    <body class="bg-light">
        <div class="container">
            <div class="row justify-content-md-center text-center">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
            {% if substrings is not empty %}
            <hr />
            <h4 class="text-center">Result:</h4>
            <div class="row justify-content-md-center text-left">
                <pre>{{ substrings|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
            </div>
            {% endif %}
        </div>
    </body>
</html>
